<html>
<body>
<p>My shopping cart (<a href="{{ path('empty') }}">empty the cart</a>):
</p>
<ul>
{% for product in cart.products %}
    <li>{{ product.name }}</li>
{% endfor %}
</ul>

<form method="post">
    {{ form_widget(form) }}
    <input type="submit" />
</form>
</body>
</html>
